<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.datathrough.dao.AdptProjMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.datathrough.po.AdptProj" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="auto_id" property="autoId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="lh_xmcode" property="lhXmcode" jdbcType="VARCHAR" />
    <result column="lh_xmname" property="lhXmname" jdbcType="VARCHAR" />
    <result column="lh_gscode" property="lhGscode" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    auto_id, group_id, company_id, lh_xmcode, lh_xmname, lh_gscode, menu_type, create_at, 
    update_at, delete_at
  </sql>
</mapper>