<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.datathrough.dao.MirrorPhaseCFourMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.datathrough.po.MirrorPhaseCFour" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pr_id" property="prId" jdbcType="VARCHAR" />
    <result column="sapver" property="sapver" jdbcType="VARCHAR" />
    <result column="ap_status" property="apStatus" jdbcType="VARCHAR" />
    <result column="pr_com" property="prCom" jdbcType="VARCHAR" />
    <result column="pr_name" property="prName" jdbcType="VARCHAR" />
    <result column="oldpr_id" property="oldprId" jdbcType="VARCHAR" />
    <result column="bu_id" property="buId" jdbcType="VARCHAR" />
    <result column="pr_addr" property="prAddr" jdbcType="VARCHAR" />
    <result column="pr_distr" property="prDistr" jdbcType="VARCHAR" />
    <result column="cr_date" property="crDate" jdbcType="TIMESTAMP" />
    <result column="ch_date" property="chDate" jdbcType="TIMESTAMP" />
    <result column="take_date" property="takeDate" jdbcType="VARCHAR" />
    <result column="pr_type" property="prType" jdbcType="VARCHAR" />
    <result column="servlev" property="servlev" jdbcType="VARCHAR" />
    <result column="take_type" property="takeType" jdbcType="VARCHAR" />
    <result column="de_flg" property="deFlg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, pr_id, sapver, ap_status, pr_com, pr_name, oldpr_id, bu_id, pr_addr, pr_distr, 
    cr_date, ch_date, take_date, pr_type, servlev, take_type, de_flg
  </sql>
</mapper>